.input-wrapper {
    .label {
        font-size: 16px;
        color: #2D2D2D;
        margin: 0px;
        margin-bottom: 10px;
    }
    
    .input {
        border: 1px solid gray;
        padding: 12px;
        border-radius: 8px;
        outline: none;
        width: 100%;
        box-sizing: border-box;
    }

}



